
    <h1>The Chronicles of Eridoria: A Realm of Wonder</h1>
    <nav>
      <ul>
        <li><a href="#">Lands of Eridoria</a>
          <ul>
            <li><a href="#">Kingdoms</a></li>
            <li><a href="#">Cities</a></li>
            <li><a href="#">Regions</a></li>
          </ul>
        </li>
        <li><a href="#">Inhabitants of Eridoria</a>
          <ul>
            <li><a href="#">Races</a></li>
            <li><a href="#">Factions</a></li>
            <li><a href="#">Notable Figures</a></li>
          </ul>
        </li>
        <li><a href="#">Magic and Lore</a>
          <ul>
            <li><a href="#">Magical Arts</a></li>
            <li><a href="#">Myths and Legends</a></li>
            <li><a href="#">Ancient Artifacts</a></li>
          </ul>
        </li>
        <li><a href="#">Timeline of Eridoria</a></li>
        <li><a href="#">Help and Resources</a></li>
      </ul>
    </nav>
