
.pagesLinks ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* row-gap: 10px; */
    /* width: fit-content; */
    padding: 0;
}
.pagesLinks li {
    /* background-color: rgba(137, 43, 226, 0.582);
    color: aliceblue; */
    width: fit-content;
    padding: 10px;
    /* border-radius: 12px; */
}
.pagesLinks li a {
    color: azure;
    text-decoration: none;
}

.pagesLinks {
    /* width: 70%; */
    margin: 0 auto;
    /* text-align: center; */
}
